.image-optimizer-wrapper * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.image-optimizer-wrapper {
	background-color: #fff;
	max-width: 750px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
	padding: 30px;
	text-align: left;
	font-size: 16px;
	color: #333;
	margin-top: 15px;
}

.luv-optimize-images-progressbar-container {
	text-align: center;
}