.promo-container {
    background-repeat: no-repeat;
    background-size: cover !important;
    height: 100%; 
    width: 100%;
    z-index: 6;
    will-change: transform;
}

.promo-container.content{
    z-index: 1;
    background-position: left center;
    background-repeat: repeat-x;
	image-rendering: auto;
}

#page-header-wrapper {
    display: none;
}

@media screen and (min-width: 767px) {
    #page-header-wrapper {
        display: block;
    }
}

@media screen and (min-aspect-ratio: 198/119) {
    .promo-container {
        -webkit-transform: scale(5);
        -moz-transform: scale(5);
        transform: scale(5);
        background-size: 100% auto !important;
        background-position: center center !important;
    }
}