#adminmenumain, #screen-meta-links, #redux-header, #redux_notification_bar, .expand_options, .redux-sidebar, #redux-defaults-section, #redux-defaults, .redux-timer, #wpfooter{
	display: none !important;
}

.redux-main{
	min-height:100px;	
}

#redux-footer{
	border-top: none !important;
}

.redux-group-tab tr, .redux-group-tab h3, .redux-section-desc{
	display: none;
}

#wpcontent, #wpfooter, .redux-main{
	margin: 0;
}

#redux-footer,
.redux-main,
.redux-container #info_bar,
.redux-container,
#redux-form-wrapper,
#redux-footer-sticky #redux-footer {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background: transparent !important;
	border: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.redux-main {
	padding-left: 0 !important;
}

#wpbody-content {
	padding-bottom: 0 !important;
}

html {
	padding-top: 0 !important;
}

#wpcontent {
	padding-left: 0 !important;
}