/* Welcome Screen */

body.luv-setup-install-plugins,
body.luv-setup-basic-settings,
body.luv-setup-create-pages,
body.luv-setup-finish,
body.luv-setup-purchase-key {
	margin: 60px auto 24px;
	text-align: center;
	height: auto;
}

body.luv-setup-install-plugins .luv-admin-notice,
body.luv-setup-basic-settings .luv-admin-notice,
body.luv-setup-create-pages .luv-admin-notice,
body.luv-setup-finish .luv-admin-notice,
body.luv-setup-purchase-key .luv-admin-notice {
	position: absolute;
	left: 30px;
	top: 0;
}

.luvthemes-setup-wrapper {
	background-color: #fff;
	max-width: 750px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
	margin: 0 auto;
	padding: 30px;
	text-align: left;
	font-size: 16px;
	color: #333;
	margin-top: 15px;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.luvthemes-setup-wrapper p {
	font-size: 16px;
	line-height: 28px;
}

.luvthemes-setup-wrapper a:not(.luv-btn) {
	color: #F27F82;
}

.luvthemes-setup-wrapper a:not(.luv-btn):hover {
	color: #d35457;
}

.luvthemes-setup-wrapper h1 {
	margin-top: 0;
	font-weight: 300;
	font-size: 26px;
	line-height: 1.2em;
}

.luvthemes-setup-wrapper table {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-top: 15px;
}

.luvthemes-setup-wrapper table > tbody > *:nth-child(2n+1) {
	background-color: #f9f9f9;
}

.luvthemes-setup-wrapper .btn-start-wizard {
	margin-left: 10px;
}

.luv-setup-btn-wrapper {
	text-align: right;
	margin-top: 20px;
}

/* Plugins */


#luv-setup-plugin-table .tablenav.bottom {
	display: none;
}

#luv-setup-plugin-table .tgmpa.wrap {
	margin: 0;
}

.luv-setup-next {
	margin-left: 10px;
}

button.luv-btn-lg {
	line-height: 48px;
	padding: 0 20px;
}

/* Main Settings */

.luv-skip-step {
	margin-left: 10px;
}

.luvthemes-setup-section {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 10px 0;
}

.luvthemes-setup-section > label {
	width: 30%;
	display: table-cell;
}

.luvthemes-setup-section > div {
	width: 70%;
	display: table-cell;
}

/* Pages */
.luv-setup-create-pages .tablenav.top {
	display: none;
}

.luv-setup-create-pages table .post_title > a {
	color: #555;
	font-weight: 600;
}

.luv-setup-create-pages table tfoot {
	display: none;
}

.luv-btn-finish {
	margin-left: 10px;
}

.luvthemes-setup-wrapper .pagination-links > span.tablenav-pages-navspan,
.luvthemes-setup-wrapper .pagination-links > a {
	background-color: #f1f1f1;
	height: auto;
	border: 0;
}

.luvthemes-setup-wrapper .pagination-links > a:hover {
	background-color: #F27F82;
	color: #fff;
}

/* Steps */
.luvthemes-setup-steps {
	list-style: none;
	margin: 30px auto 0 auto;
	padding: 0 0 15px 0;
	max-width: 750px;
	overflow: hidden;
}

.luvthemes-setup-steps li {
	float: left;
	position: relative;
	padding: 0 0 10px 0;
	width: 20%;
	text-align: center;
	font-size: 14px;
}

.luv-setup-activated .luvthemes-setup-steps li {
	width: 25%;
}


/* Disabled Steps */

.luvthemes-setup-steps li.disabled {
	color: #CACACA;
}

.luvthemes-setup-steps li.disabled:after {
	background-color: #CACACA;
}

.luvthemes-setup-steps li.disabled:before {
	background-color: #F1F1F1;
	border: 4px solid #CACACA;
	z-index: 4;
}

/* Active Steps */

.luvthemes-setup-steps li.active {
	font-weight: 600;
}

.luvthemes-setup-steps li.active:before {
	border: 4px solid #F27F82;
	background: #F1F1F1;
	width: 14px;
	height: 14px;
	z-index: 4;
}

.luvthemes-setup-steps li:last-child {
	margin-right: 0;
}

.luvthemes-setup-steps li:after {
	content: ' ';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #F27F82;
}

.luvthemes-setup-steps li:before {
	position: absolute;
	width: 14px;
	height: 14px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	left: 50%;
	top: 100%;
	margin-left: -7px;
	margin-top: -5px;
	background-color: #F27F82;
	content: ' ';
}

/* Media Uploader */

.luvthemes-setup-section .luv-media-buttons  {
	margin-top: 5px;
	overflow: hidden;
}

.luvthemes-setup-section .luv-media-upload-reset {
	color: #ef521d;
    margin-left: 10px;
}

.luvthemes-setup-section .luv-media-upload-reset:hover {
	color: red;
}

.luvthemes-setup-section .luv-media-upload-reset.is-hidden,
.luvthemes-setup-section .luv-media-upload-preview.is-hidden,
.luvthemes-setup-section .luv-repeat-field.is-hidden,
.luv-media-upload-container .luv-media-upload-reset.is-hidden {
	display: none !important; 
}

.luvthemes-setup-section .luv-media-upload-container img,
.megamenu-background-image-container .luv-media-upload-container img  {
	max-width: 250px;
}

#loader-overlay {
	display:block;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:999999;
	background: rgba(255, 255, 255, 0.7);
}

.loader {
    position: relative;
    margin: 0 auto;
    width: 50px;
    top: 50%;
    margin-top: -25px;
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.loader-circular {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    -moz-animation: loader-rotate 2s linear infinite;
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    -moz-transform-origin: center center 50%;
    -ms-transform-origin: center center 50%;
    -webkit-transform-origin: center center 50%;
    transform-origin: center center 50%;
}

.loader-path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    -moz-animation: loader-dash 1.5s ease-in-out infinite,loader-color 6s ease-in-out infinite;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite,loader-color 6s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite,loader-color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-moz-keyframes loader-rotate {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-rotate {
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes loader-dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124px;
    }
}

@-webkit-keyframes loader-dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124px;
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124px;
    }
}

@-moz-keyframes loader-color {
    100%,0% {
        stroke: #f04649;
    }
}

@-webkit-keyframes loader-color {
    100%,0% {
        stroke: #f04649;
    }
}

@keyframes loader-color {
    100%,0% {
        stroke: #f04649;
    }
}

.setup-progress-message {
	position:fixed;
	left:50%;
	top:50%;
	-moz-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index:1000000;
	background:#fff;
	padding:30px;
	text-align:center;
}

.setup-progress-message p {
	margin: 0;
	font-size: 24px;
}


.setup-progress-message p i {
	margin-top: 15px;
}

.back-to-dashboard {
	margin-top: 10px;
	color: #888;
	display: inline-block;
	text-decoration: none;
}

.back-to-dashboard:hover {
	color: #444;
}

.luv-setup-finish .luvthemes-setup-wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.luv-setup-finish li {
	line-height: 1.6em;
}

.luv-setup-finish li a {
	text-decoration: none;
}

.luv-setup-finish li i {
	color: #888;
	width: 25px;
}

.luvthemes-setup-row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.luvthemes-setup-col {
	width: 50%;
}