/* ==========================================================================
   Installer
   ========================================================================== */

.luv-schemes {
	list-style: none;
	margin: 0 -15px;
	padding: 0;
	overflow: hidden;
}

.scheme-excerpt {
	padding: 15px 0; 
}

.luv-schemes li {
	padding: 0;
	width: 31.3333%;
	margin: 1%;
	float: left;
	position: relative;
	text-align: center;
	border: 3px solid #F1F1F1;
}

@media screen and (min-width: 1480px) {
	.luv-schemes li {
		width: 22%;
	}
}

.luv-schemes li img {
	max-width: 100%;
	height: auto;
	display: block;
}

.luv-schemes li h3 {
	position: absolute;
	z-index: 1;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #F1F1F1;
    color: #333;	
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 24px;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
}

.luv-schemes li:after {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.67);
	content: ' ';
	left: 0;
	top: 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.luv-schemes li:hover .scheme-nav,
.luv-schemes li:hover:after {
	opacity: 1;
}

.luv-schemes .scheme-nav {
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	margin-top: -17px;
}

.luv-schemes .scheme-nav > * {
	display: block;
}

.luv-schemes .scheme-nav .luv-btn {
	margin: 5px;
	line-height: 1.4em;
}

.luv-scheme-img {
    height: 440px;
    overflow: hidden;
}

.is-hidden{
	display:none;	
}

.luv-installer-updating{
 	animation: 0.8s ease 0s normal none infinite running luv-installer-spin
 }



.luvinstaller-page-list li a, .luvinstaller-redux-settings-list li a{
	text-decoration: none;
}

.redux-headless-container{
	position: fixed;
	top: 60px;
	left: 200px;
	z-index:99999;
	width: 80%;
	height: 50%;
	box-shadow: 10px 10px 5px #888888;
	background: #f1f1f1;
}

.redux-headless-close{
	float: left;
	text-decoration: none;
}

.redux-headless-inner{
	width: 100%;
	height: 100%
}

@-moz-keyframes luv-installer-spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes luv-installer-spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes luv-installer-spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}